#main {
  border: 1px solid #ccc;
  background-color: #fff;
  padding-bottom: 10px;
}
#main > ul > li {
  line-height: 40px;
  background-color: #ededed;
}
#main > ul > li .cate_title {
  border-bottom: 1px solid #ccc;
  padding: 0 20px;
  font-size: 18px;
  font-weight: 700;
}
#main > ul > li > ul {
  background-color: #f9f9f9;
}
#main > ul > li > ul > li {
  text-align: center;
  float: left;
  font-size: 14px;
  color: #333;
  width: 33.33%;
  height: 40px;
  line-height: 40px;
  border-bottom: 1px solid #ccc;
  border-right: 1px solid #ccc;
}
#main > ul > li > ul > li:nth-of-type(3n) {
  border-right: none;
}
